html, body{
    background-color: #e1e1e1;
}

.link{
    background-color: #fff;
    -webkit-box-shadow: 2px 2px 4px -1px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 2px 4px -1px rgba(0,0,0,0.3);
    box-shadow: 2px 2px 4px -1px rgba(0,0,0,0.3);
    height: 150px;
    margin-bottom: 30px;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    color: #120884;
}

.link .icone{
    font-size: 50pt;
    position: relative;
}

.link .img-icone{
    width: 50px;
}