#pagina{
    background: #322FA5;
    background: -webkit-linear-gradient(top left, #322FA5, #821D09);
    background: -moz-linear-gradient(top left, #322FA5, #821D09);
    background: linear-gradient(to bottom right, #322FA5, #821D09);
    height: 100vh;
    background-position: center;
}

#conteudo{
    background-color: #fff;
    border-radius: 3px;
    padding: 30px 15px 10px 15px;
    margin-top: 50px;
    box-shadow: 2px 2px 2px rgba(#000000, 0.5);
}

#esqueci-a-senha{
    margin-top: 10px;
}

.icone{
    text-align: center;
    font-weight: bold;
    color-adjust: #000;
    margin-bottom: 20px;
}

.icone .imagem{
    background-repeat: no-repeat;
    background-image: url('../icones/person-circle.svg');
    background-position: center;
    background-size: 40px;
    height: 40px;
}

.titulo{
    margin-top: 10px;
}