#carregando{
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.3);
    z-index: 10000;
    display: none;
}

#conteudo-pagina{
    margin-top: 80px;
    padding-bottom: 80px;
}

#carregando #container-icone{
    padding: 25px 60px;
    background-color: #fff;
    border-radius: 3px;
    width: 200px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -60px;
    margin-left: -100px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 2px 2px 3px rgb(0, 0, 0, 0.4);
}

.menu{
    display: table; 
    position: fixed;
    width: 100%;
    height: 60px;
    box-shadow: 0px 1px 2px #000;
    z-index: 1000;
    top: 0;
    margin-top: 0;
}

.menu .container-menu{
    margin-top: 13px;
    color: #fff;
} 

.menu .icone-barra-menu{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: -5px;
    margin-right: 12px;
}

.menu .btn-sair{
    color:#fff;
    text-decoration: none;
    text-align: right;
}

.menu .btn-sair .sair{
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 5px 10px;
    border-radius: 5px;
}
.menu .btn-sair .sair:hover{
    color: #FDD000;
    border-color: #FDD000;
}

.menu .icone{
    cursor: pointer;
    color: #fff;
    width: 40px;
    margin-top: -2px;
}

.menu .home{
    margin-top: 18px;
}

.btn-redondo{
    outline: none;
    border: none;
    padding: 7px 20px 11px 20px;
    border-radius: 30px;
    font-size: 18pt;
    color: #fff;
    position: fixed;
    bottom: 15px;
    right: 15px;
    box-shadow: 2px 2px 3px rgb(0, 0, 0, 0.3);
}

.btn-redondo:focus{
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
    
}
