.lista-vendas .servicos .servico{
    background-color: #5335B5;
    color: #fff;
    font-size: 13px;
}

.container-tbl-servicos-venda{
    border: 1px solid #333;
}

.titulo-tista-servicos{
    padding: 10px 15px;
    color: #fff;
    background-color: #333;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}